<div class="depot_form">	<!-- Iteration G1 (Chapter 12.1, p. 163) -->
  <fieldset>
    <legend><%= t('.legend') %></legend>	<!-- Iteration J3 (Chapter 15.3, p. 222) -->
    <%= render 'form' %>
  </fieldset>
</div>

